.subInfoBox-c {
  width: 30em;
  padding: 2.3em 3.3em 1.1em 3.3em;
  width: 80em;
  margin-left: 5em;
  background: #fff;
  border-radius: 1em;
  overflow: hidden;
  h3 {
    font-weight: 600;
    font-size: 1.6em;
    line-height: 150%;
    color: #484848;
    margin-bottom: 1.2em;
  }
  p {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 150%;
    color: #484848;
    margin-bottom: 2em;
  }
  .infoBox-btn-s {
    display: flex;
    button {
      font-weight: 600;
      font-size: 1.4em;
      line-height: 150%;
      padding: 1em 3.14em;
      margin-right: 2em;
      border-radius: 1em;
      cursor: pointer;
      transition: .2s;
      &.btn-green{
        background: #66BD5A;
        color: #fff;
        &:hover{
            background: #32a323;
            color: #fff;
        }
      }
      &.btn-b-green{
        background: #fff;
        color: #66BD5A;
        border: 1px solid #66BD5A;
        &:hover{
            background: #66BD5A;
            color: #fff;
        }
      }

    }
  }
  @media screen and (max-width:820px) {
    margin-left: 0;
    h3{
      text-align: center;
    }
    .infoBox-btn-s{
      button{
        padding: 1em 1.2em;
      }
    }
    width: 100%;
    margin-top: 2em;
    font-size: .9em;
  }
}
